<div class="featured color-neon">
  <a rel="tag" href="/blog/featured/">★</a>
</div>
<style type="text/css">
  .featured {
    font-size: 2em;
  }
  .featured:hover:before {
    content: "Featured";
    font-size: initial;
    padding: 10px;
    color: white;
  }
</style>