<div id="navbars" class="animated navbars navbars-rotating">
  <div id="home-button" data-page='home-content' class="navbar animated" onclick="window.location = '/';"> Home</div>
  <div id="blog-button" data-page='blog-content' class="navbar animated" onclick="window.location = '/blog/';"> Blog</div>
  <div id="blog-button" data-page='blog-content' class="navbar animated" onclick="window.location = '/blog/featured';"> Featured </div>
  <div class="rss-subscribe navbar animated" onclick="window.location = '/blog/feed.xml';"> RSS </div>
</div>
