            <header class="scroll-child-child">
              <h1 class="color-white" style="font-size: 3em"><%= data.profile.name %></h1>
              <h2 class="color-lightgrey" style="font-size: 2.5em"><%= data.profile.role %></h2>
            </header>
            <hr style="width: 80%;" class="color-neon" />
            <section class="scroll-child-child">
              <h3 class="color-white" style="font-size: 2em">$ whoami</h3>
              <h3 class="color-lightgrey" style="font-size: 1.8em">About Me</h3>
              <div style="height: 3em;">&nbsp;</div>
              <div class="color-white" style="font-size: 1.4em;">
<% data.profile.bio.each do |paragraph| %>
                <p>
                  <%= paragraph %>
                </p>
<% end %>
              </div>
            </section>
