            <section class="scroll-child-child">
              <h3 class="color-white" style="font-size: 2em"> $ write parth pts/1 </h3>
              <h3 class="color-lightgrey" style="font-size: 1.8em">Contact Me</h3>
              <div style="height: 3em;">&nbsp;</div>
              <div style="display: flex; flex-grow: 1; justify-content: center; align-items: center; flex-wrap: wrap;">
                <a style="min-width: 40%; padding: 20px; text-align: center;" class="color-white" href="<%= data.profile.social.twitter %>" aria-label="Twitter">
                  <span style="padding: 10px; margin: 10px" class="fa fa-4x fa-twitter"></span>
                </a>
                <a style="min-width: 40%; padding: 20px; text-align: center;" class="color-white" href="<%= data.profile.social.github %>" aria-label="Github">
                  <span style="padding: 10px; margin: 10px" class="fa fa-4x fa-github"></span>
                </a>
                <a style="min-width: 40%; padding: 20px; text-align: center;" class="color-white" href="<%= data.profile.social.linkedin %>" aria-label="LinkedIn">
                  <span style="padding: 10px; margin: 10px" class="fa fa-4x fa-linkedin"></span>
                </a>
                <a style="min-width: 40%; padding: 20px; text-align: center;" class="color-white" href="mailto:<%= data.profile.social.email %>" aria-label="Email">
                  <span style="padding: 10px; margin: 10px" class="fa fa-4x fa-envelope-o"></span>
                </a>
              </div>
            </section>
